sharepoint/otros/spscrawl.wsdl.xml



<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://microsoft.com/webservices/SharePointPortalServer/PortalCrawl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://microsoft.com/webservices/SharePointPortalServer/PortalCrawl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/SharePointPortalServer/PortalCrawl/">
      <s:element name="GetItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strItemId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetItemResult" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="vPropValues" type="s0:ArrayOf_PortalPropValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOf_PortalPropValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="_PortalPropValue" type="s0:_PortalPropValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_PortalPropValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="URI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UseLCID" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LCID" type="s:unsignedInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBucket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBucketId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBucketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBucketResult" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="vPropValues" type="s0:ArrayOf_PortalPropValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnumerateBucket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBucketId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCatalog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScope" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnumerateBucketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnumerateBucketResult" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="vItems" type="s0:ArrayOf_PortalItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOf_PortalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="_PortalItem" type="s0:_PortalItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_PortalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModified" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnumerateFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCatalog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScope" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnumerateFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnumerateFolderResult" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="vItems" type="s0:ArrayOf_PortalItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sSite" type="s0:_PortalSite" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_PortalSite">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strSiteId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strPortalUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strPortalUrlLastModified" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="iLocale" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="strSiteName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSiteResult" type="s:unsignedInt" />
            <s:element minOccurs="1" maxOccurs="1" name="sSite" type="s0:_PortalSite" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetItemSoapIn">
    <part name="parameters" element="s0:GetItem" />
  </message>
  <message name="GetItemSoapOut">
    <part name="parameters" element="s0:GetItemResponse" />
  </message>
  <message name="GetBucketSoapIn">
    <part name="parameters" element="s0:GetBucket" />
  </message>
  <message name="GetBucketSoapOut">
    <part name="parameters" element="s0:GetBucketResponse" />
  </message>
  <message name="EnumerateBucketSoapIn">
    <part name="parameters" element="s0:EnumerateBucket" />
  </message>
  <message name="EnumerateBucketSoapOut">
    <part name="parameters" element="s0:EnumerateBucketResponse" />
  </message>
  <message name="EnumerateFolderSoapIn">
    <part name="parameters" element="s0:EnumerateFolder" />
  </message>
  <message name="EnumerateFolderSoapOut">
    <part name="parameters" element="s0:EnumerateFolderResponse" />
  </message>
  <message name="GetSiteSoapIn">
    <part name="parameters" element="s0:GetSite" />
  </message>
  <message name="GetSiteSoapOut">
    <part name="parameters" element="s0:GetSiteResponse" />
  </message>
  <portType name="PortalCrawlSoap">
    <operation name="GetItem">
      <input message="s0:GetItemSoapIn" />
      <output message="s0:GetItemSoapOut" />
    </operation>
    <operation name="GetBucket">
      <input message="s0:GetBucketSoapIn" />
      <output message="s0:GetBucketSoapOut" />
    </operation>
    <operation name="EnumerateBucket">
      <input message="s0:EnumerateBucketSoapIn" />
      <output message="s0:EnumerateBucketSoapOut" />
    </operation>
    <operation name="EnumerateFolder">
      <input message="s0:EnumerateFolderSoapIn" />
      <output message="s0:EnumerateFolderSoapOut" />
    </operation>
    <operation name="GetSite">
      <input message="s0:GetSiteSoapIn" />
      <output message="s0:GetSiteSoapOut" />
    </operation>
  </portType>
  <binding name="PortalCrawlSoap" type="s0:PortalCrawlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetItem">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/PortalCrawl/GetItem" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBucket">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/PortalCrawl/GetBucket" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EnumerateBucket">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/PortalCrawl/EnumerateBucket" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EnumerateFolder">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/PortalCrawl/EnumerateFolder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSite">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/PortalCrawl/GetSite" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PortalCrawl">
    <port name="PortalCrawlSoap" binding="s0:PortalCrawlSoap">
      <soap:address location="http://iol2.itba.edu.ar:27521/_vti_bin/spscrawl.asmx" />
    </port>
  </service>
</definitions>
